{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3>Incident Details</h3>
            <ul style="list-style-type:circle">
                <li>Name- {{ instancedetaildict.number }}</li><br>
                <li>Description- {{ instancedetaildict.short_description }}</li><br>
                <li>Category- {{ instancedetaildict.category }}</li><br>
                <li>Priority- {{ instancedetaildict.priority }}</li><br>
                <li>Open- {{ instancedetaildict.opened_at }}</li><br>
                <li>Close- {{ instancedetaildict.closed_at }}</li><br>
                <li>Close Notes- {{ instancedetaildict.close_notes }}</li><br>
                <li>State- {{ instancedetaildict.state }}</li><br>
            </ul>
        </div>
    </div>
</div>
{% endblock %}